div#wrap {
	font-family:Verdana;
	width:980px;
	margin-left: 14px;
}

div#tabs {
	margin-left: 0;
	height:597px;
}

.ui-tabs .ui-tabs-panel {
	padding:0px;
}

div.side_bar {
	float:right;
	background:#8C8C8C;
	width: 124px;
	height:516px;
	display:none;
}

div#spc_notice{
	width:700px !important;
}
div#spc_notice.ui-widget,
div#spc_notice a {
	font-size:16px !important;
}

div#spc_notice a:hover {
	text-decoration:underline;
	color:#647ECD;
}

ul#seatplans,
ul#channels,
ul.sessions {
	list-style-type:none;
}

ul#seatplans {

}

ul#seatplans li.seatplan {
	float:left;
	padding: 4px;
	border-right:1px solid #647ECD;
	cursor:pointer;
}

ul#seatplans li.seatplan:last-child {
	border-right:0px;
}

ul#channels li.channel {
	float:left;
	margin-left: -46px;
	margin-top: -25px;
	width: 974px;
}

li.channel div.stats {
	height:16px;
	padding:8px;
	background:#D1D2F3;
	border-bottom:1px solid #647ECD;
	color:#647ECD;
}

li.channel div.log {
	float:left;
	background:#808080;
	height: 500px;
	width: 948px;
	padding: 8px;
	color:#FFFFFF;
	overflow-x: hidden;
	overflow-y:auto;
}

div.event_log {
	border-bottom: 1px dotted #FFFFFF;
	height: 18px;
	padding-top: 2px;
	font-size: 12px;
}

div.new {
	display:none;
}

div.lvl1 {color:#F7F7F7;}
div.lvl2 {color:#D1D2F3;}
div.lvl3 {color:#AB0D16;}
div.lvl4 {color:#FFFFFF;}
div.lvl5 {color:#FFFFFF;}
div.lvl6 {color:#FFFFFF;}
div.lvl7 {color:#FFFFFF;}
div.lvl8 {color:#FFFFFF;}
div.lvl9 {color:#FFFFFF;}

div.event_log:last-child {
	border-bottom:0px;
}

div.pid, div.cid {
	text-align:center;
	width:60px;
	float:left;
}

div.sesskey {
	display:none;
	text-align:center;
	width: 280px;
	float:left;
}

div.timestamp {
	text-align:center;
	width: 180px;
	float:left;
}

div.pname {
	text-align:center;
	width:120px;
	float:left;
}

div.event {
	text-align:left;
	width:200px;
	float:left;
}