/* CSS Document */
body {
  color: #444;
  font-family: "Open Sans", sans-serif;
}

.dropdown-menu {
  color: #212529;
  background-color: transparent;
  max-width: 300px;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #50d8af;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ccc;
}
/* For Language Buttons */
.badge {
  display: inline-block;
  padding: 0;
  font-size: 100%;
  text-align: center;
  border-radius: 5;
}
.badge-primary {
  color: #fff;
  background-color: transparent;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: transparent;
}
.active .bs-stepper-circle {
     background-color: #50d8af;
}
.btn-category-circle {
  background: #50d8af;
  border: 2px solid #0c2e8a;
  color: #ffffff;
}
 .btn-category-circle:hover {
     background: #fff;
     color: #0c2e8a;
}
 .btn-ga {
     background: #50d8af;
     border: 2px solid #50d8af;
	 color: white;
	 margin:5px;
}
 .btn-ga:hover {
     background: none;
     color: #50d8af;
}
/* EOF */