/*--------------------------------------------------------------
# General #e22a63
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #e22a63;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #000;
  outline: none;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  background: #e22a63;
}

.back-to-top i {
  color: #fff;
}

.back-to-top:hover {
  background: #e22a63;
  color: #fff;
}
.active .bs-stepper-circle {
     background-color: #e22a63;
}
#footer .credits a {
  color: #e22a63;
}
.btn-category-circle {
  background: #e22a63;
  border: 2px solid #0c2e8a;
  color: #ffffff;
}
 .btn-category-circle:hover {
     background: #fff;
     color: #0c2e8a;
}


.text-primary {
    color: #e22a63
}

.card-header {
  color: #e22a63; 
  border-color: #9d8fb3;
   /*  background: -webkit-linear-gradient(180deg, rgb(197,114,13) 0, rgb(253,218,134), rgb(197,114,13) 100%), rgb(208, 140, 37);
    background: -moz-linear-gradient(180deg, rgb(197,114,13) 0, rgb(253,218,134), rgb(197,114,13) 100%), rgb(208, 140, 37);
    background: linear-gradient(90deg, rgb(197,114,13) 0, rgb(253,218,134), rgb(197,114,13) 100%), rgb(208, 140, 37) */; 
  
}
.card {
  /* background-color: #e22a63;*/
  border-color: #9d8fb3; 
  
}

.list-group-item-primary {
  color: #fff;
  background-color: #b8daff;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #fff;
  background-color: #e7eaed;
}

.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #e7eaed;
  border-color: #e7eaed;
}

.btn-primary {
    color: #e5e5e5;
    background-color: #e22a63;
    border-color: transparent
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #e5e5e5;
    background-color: #555
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #e22a63
}

.btn.btn-circle {
    border-radius: 50px
}

.btn.btn-outline {
    background-color: transparent
}

.btn-default {
    color: #818181;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #555
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff
}

 .btn-ga {
     background: #e22a63;
     border: 2px solid #e22a63;
	 color: white;
	 margin:5px;
}
 .btn-ga:hover {
     background: none;
     color: #e22a63;
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  border-bottom: 1px solid #eee;
}

#topbar .contact-info i {
  color: #e22a63;
}

#topbar .contact-info i a, #topbar .contact-info i span {
  color: #444;
}

#topbar .contact-info i a:hover {
  color: #e22a63;
}

#topbar .social-links a {
  color: #555;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color: #e22a63;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 a {
  color: #0c2e8a;
}

#header #logo h1 a span {
  color: #e22a63;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar a, .navbar a:focus {
  color: #444;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #e22a63;
}

.navbar .dropdown ul {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #e22a63;
}


.dropdown-item {
  color: #212529;
  background-color: transparent;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  background-color: #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #e9ecef;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #0c2e8a;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

.navbar-mobile {
  background: rgba(8, 30, 91, 0.9);
}

.navbar-mobile ul {
  background-color: #fff;
}

.navbar-mobile a {
  color: #0c2e8a;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #e22a63;
}

.navbar-mobile .dropdown ul {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #e22a63;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* 
#hero {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url("../img/hero-carousel/1.jpg") no-repeat;
  background-size: cover;
  padding: 0;
}

#hero .hero-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero .hero-content h2 {
  color: #0c2e8a;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}

#hero .hero-content h2 span {
  color: #e22a63;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #hero .hero-content h2 {
    font-size: 34px;
  }
}

#hero .hero-content .btn-get-started, #hero .hero-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#hero .hero-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#hero .hero-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#hero .hero-content .btn-projects {
  background: #e22a63;
  border: 2px solid #e22a63;
}

#hero .hero-content .btn-projects:hover {
  background: none;
  color: #e22a63;
}

#hero .hero-slider {
  z-index: 8;
  height: 60vh;
}

#hero .hero-slider::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#hero .hero-slider .swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
} */
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  background-color: rgba(59, 59, 59, 0.8);
}

#hero .carousel-item::before {
  background-color: rgba(255, 255, 255, 0.6);
}

#hero h2 {
  color: #0c2e8a;
}

#hero h2 span {
  color: #e22a63;
}

#hero p {
  color: darken(#545454, 15);
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  color: #545454;
}

#hero .carousel-indicators li {
  background: #e96b56;
}

#hero .btn-get-started {
  border: 2px solid #0c2e8a;
  background: #0c2e8a;
}

#hero .btn-get-started:hover {
  background: transparent;
  color: #0c2e8a;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/

.section-header h2 {
  color: #e22a63;
}

.section-header h2::before {
  background: #e22a63;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  background-color: #fafafa;
}

.breadcrumbs ol li + li::before {
  color: #6c757d;
}

/* About Section
--------------------------------*/
#about .content h2 {
  color: #0c2e8a;
}

#about .content h3 {
  color: #555;
}

#about .content i {
  color: #e22a63;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f2f5f8;
}

#footer .credits {
  color: #555;
}

#footer .credits a {
  color: #0c2e8a;
}
