/*--------------------------------------------------------------
# General #ffcc00
--------------------------------------------------------------*/
body {
  color: #fff;
  /* background: url("../img/1.jpg") no-repeat; */
  background-color: #000!important;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #ffcc00;
  outline: none;
  text-decoration: none;
}


/* EOF */

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  background: #ffcc00;
}

.back-to-top i {
  color: #fff;
}

.back-to-top:hover {
  background: #0000c0;
  color: #fff;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #ffcc00;
  border-bottom: 1px solid #eee;
}

#topbar .contact-info i {
  color: #fff;
}

#topbar .contact-info i a, #topbar .contact-info i span {
  color: #fff;
}

#topbar .contact-info i a:hover {
  color: #000;
}

#topbar .social-links a {
  color: #fff;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color: #ffcc00;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-color: #000;
    /* background: -webkit-linear-gradient(180deg, rgb(197,114,13) 0, rgb(253,218,134), rgb(197,114,13) 100%), rgb(208, 140, 37);
    background: -moz-linear-gradient(180deg, rgb(197,114,13) 0, rgb(253,218,134), rgb(197,114,13) 100%), rgb(208, 140, 37);
    background: linear-gradient(90deg, rgb(197,114,13) 0, rgb(253,218,134), rgb(197,114,13) 100%), rgb(208, 140, 37);  */
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 a {
  color: #ffcc00;
}

#header #logo h1 a span {
  color: #ffffff;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation */

.navbar a, .navbar a:focus {
  color: #fff;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ffcc00;
}

.navbar .dropdown ul {
  background: #ffcc00;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  background: #ffcc00;
  color: #000;
}



/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

.navbar-mobile {
  background: rgba(0, 0, 0, 0.9);
}

.navbar-mobile ul {
  background-color: #fff;
}

.navbar-mobile a {
  color: #000;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #000;
}

.navbar-mobile .dropdown ul {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #000;
}
.card-header {
  padding: 0.75rem 1.25rem;
  color: #ffffff;
  margin-bottom: 0;
  color: inherit;
  background-color: #ffcc00;
  border-color: #ffcc00;
}
.card {
  background-color: #000;
  border-color: #ffcc00;
}
/* side menu */
.list-group {
  background-color: #000;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item {
  background-color: #000;
  border: 1px solid #ffcc00;
  color:#fff
}
.list-group-item-primary.list-group-item-action.active {
  color: #fff;
  background-color: #ffcc00;
  border-color: #ffcc00;
}
.list-group-item.disabled, .list-group-item:disabled {
  color: #6c757d;
  background-color: #fff;
}
.list-group-item-action:hover, .list-group-item-action:focus {
  background-color: #ffcc00;
}
.alert-info {
  border-color: #ffcc00;
}
.alert-info hr {
/*  border-top-color: #e28913;*/
  border-top-color: #ffcc00;
}
.alert-info .alert-link {
  color: #5f8144;
}
/* For Language Buttons */
.badge {
  display: inline-block;
  padding: 0;
  font-size: 100%;
  text-align: center;
  border-radius: 5;

}
.badge-primary {
  color: #fff;
  background-color: transparent;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #fff;
  background-color: transparent;
}

.cart-text,.productListing-heading{
	color:#fff
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* 
#hero {
  width: 100%;
  height: 60vh;
  position: relative;
  background: url("../img/hero-carousel/1.jpg") no-repeat;
  background-size: cover;
  padding: 0;
}

#hero .hero-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero .hero-content h2 {
  color: #000;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}

#hero .hero-content h2 span {
  color: #ffcc00;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #hero .hero-content h2 {
    font-size: 34px;
  }
}

#hero .hero-content .btn-get-started, #hero .hero-content .btn-projects {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#hero .hero-content .btn-get-started {
  background: #000;
  border: 2px solid #000;
}

#hero .hero-content .btn-get-started:hover {
  background: none;
  color: #000;
}

#hero .hero-content .btn-projects {
  background: #ffcc00;
  border: 2px solid #ffcc00;
}

#hero .hero-content .btn-projects:hover {
  background: none;
  color: #ffcc00;
}

#hero .hero-slider {
  z-index: 8;
  height: 60vh;
}

#hero .hero-slider::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 7;
}

#hero .hero-slider .swiper-slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: opacity;
} */
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  background-color: rgba(59, 59, 59, 0.8);
}

#hero .carousel-item::before {
  background-color: rgba(255, 255, 255, 0.6);
}

#hero h2 {
  color: #000;
}

#hero h2 span {
  color: #ffcc00;
  text-shadow: 2px 2px #000;
}

#hero p {
  color: darken(#545454, 15);
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  color: #545454;
}

#hero .carousel-indicators li {
  background: #e96b56;
}

#hero .btn-get-started {
  border: 2px solid #000;
  background: #000;
}

#hero .btn-get-started:hover {
  background: transparent;
  color: #000;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/

.section-header h2 {
  color: #fff;
}

.section-header h2::before {
  background: #ffcc00;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  background-color: #fafafa;
}

.breadcrumbs ol li + li::before {
  color: #6c757d;
}

/* About Section
--------------------------------*/
#about .content h2 {
  color: #ffcc00;
}

#about .content h3 {
  color: #fff;
}

#about .content i {
  color: #ffcc00;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #3c3c3c;
}

#footer .credits {
  color: #fff;
}

#footer .credits a {
  color: #ffcc00;
}

 #featured {
     background: none;
}
 span#total_price{
    color: #fff;
}
 span#total_seats{
    color: #fff;
}
/* MODAL FOR TERMS AND CONDITIONS AT CHECKOUT */
div#tandc_modal { 
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.45); 
    background-color: #ffcc00!important;
	border-color:#fff!important;
}

/*START DISCOUNT BOX THEME*/
div#ticket_discount { 
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.45); 
/*	background-color: #e28913!important;*/
    background-color: #ffcc00!important;
	border-color:#fff!important;
}
div#ticket_discount h5{color: white;}
ul#discount {margin-left:0px!important;}
ul#discount li {border: 1px solid #ccc; padding: 5px; background: #333333; height: auto!important; margin-left:0!important; color: #C4C4C4;}
/*basic*/
/*ul#discount li { padding: 3px;  height: auto!important; margin-left:0!important;}*/
.selectticket {font-size: 19px; color: white;}
#discount_products_name{color: white;}
#discount_show_name{color: white;}
li#discount_choice_text {color: white!important; margin-left: 0!important;}
#kill_discount:hover {background-color: normal!important;color: black!important;}
 /*END DISCOUNT BOX*/
 


.btn-primary {
	color: #000;

	border-color: transparent;
	background-color: #ffcc00;
    /* background: -webkit-linear-gradient(90deg, rgb(253,218,134), rgb(197,114,13), rgb(253,218,134) 100%), rgb(208, 140, 37);
    background: -moz-linear-gradient(90deg, rgb(253,218,134), rgb(197,114,13), rgb(253,218,134) 100%), rgb(208, 140, 37);
    background: linear-gradient(180deg, rgb(253,218,134), rgb(197,114,13), rgb(253,218,134) 100%), rgb(208, 140, 37);       */  

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
	color: #000;
	background-color: #c0c0c0;
	border-color: #ffcc00;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
/*	background-color: #e28913;*/
	background-color: #ffcc00;
	color:#000;
}
 .smallText a:hover {
     color: #fff 
}
.table-hover tbody tr:hover {
  color: #212529;
  background-color: #efefef;
}
 .active .bs-stepper-circle {
     background-color: #ffcc00;
}

.table-primary tbody + tbody {
  border-color: #7abaff;
}

.table-hover .table-primary:hover {
  background-color: #9fcdff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #9fcdff;
}
 
 
.btn-primary-dark
{
	color:#fff;
	padding:5px;
	background-color:#555;
}

 ul#ajax_cart li span.cht{

    color:#555555;

}
 ul#ajax_cart li span.pn{

    color:#000000;

}

 ul#ajax_cart li span.pp{

    color:#000000;

}

 #ga_listing .effects{
     border: 1px solid #000;
     background: #000;
     color: #fff;
}
 #ga_listing .effects:hover{
     background: gray;
     color: #fff;
     border: 1px solid #f7f3f3;
}

.alert-success {
  color: #000;
  background-color: #eda203;
  border-color: #fff;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info hr {
  border-top-color: #abdde5;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #ffff00;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}
 .moduleRowOver {
     background-color: #495057;
     cursor: pointer 
}
 .moduleRowSelected {
     background-color: #495057 
}
 .bs-stepper .step-trigger {
     color: #fff;
 }
